**/tags
**/TAGS
**/.#*
/node_modules/
**/*~
**/*.kate-swp
**/.directory
/npm-debug.log
/yarn-error.log
/.dir-locals.el
/yarn-errors.log
*/output
*/dist
/tmp
*/dist-newstyle
**/.stack-work
**/.cabal-sandbox