**/tags
**/TAGS
**/.#*
/dist-newstyle
**/*~
**/*.kate-swp
**/.directory
/.dir-locals.el
*/dist
/tmp
**/.stack-work
**/.cabal-sandbox
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/.ghc.environment*
/.*-env
result
dist
out